*{
    box-sizing: border-box;
    margin-left: 0;
    margin-top: 0;
}

.head1{
    width: 100%;
    height: 100px;
    background-color: rgb(6, 209, 158);
    -webkit-box-shadow: 0px 2px 7px 0px rgba(6, 209, 158, 0.575); 
    box-shadow: 0px 2px 7px 0px rgba(6, 209, 158, 0.575);
}

#srch1{
    background-color: rgb(200, 213, 226);
    outline: none;
    width: 15%;
    height: 40px;
    margin-left: 45%;
    margin-top: 30px;
    padding-left: 0.5%;
    border: rgb(170, 255, 0) 2px solid;
    border-radius: 0.5rem;
}

#srch1:hover{
    background-color: rgb(231, 239, 247) ;
}

.menu{
    background-color: #FFEB3C;
    float: left;
    text-align: center;
    width: 15%;
    height: 700px;
    border: solid rgb(6, 209, 158) 4px;  
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem ;
    -webkit-box-shadow: 4px 1px 20px -2px rgb(170, 255, 0); 
    box-shadow: 4px 1px 20px -2px rgb(170, 255, 0);
}

.list{
    width: 100%;
    height: 60px;
    border: solid rgb(6, 209, 158) 4px;
    border-top: none;
    border-left: none;
    list-style-type: none;
    border-left: none; 
    border-right: none;
    background-color: #FFEB3C;
    border-top-right-radius: 1.9rem;
}

.list1{
    width: 100%;
    height: 55px;
    border: dashed rgb(255, 196, 0) 3px;
    padding-top: 15px;
    border-top: none;
    border-left: none;
    list-style-type: none;
    border-left: none; 
    border-right: none;
    background-color: #FFEB3C;
}

.list1:hover{
    -webkit-box-shadow: inset -2px -2px 30px 2px rgba(0, 255, 170, 0.51);
    -moz-box-shadow:    inset -2px -2px 30px 2px rgba(0, 255, 170, 0.51);
    box-shadow:         inset -2px -2px 30px 2px rgba(0, 255, 170, 0.51);
}
.list2{
    width: 100%;
    height: 55px;
    padding-top: 15px;
    border:dashed rgb(255, 196, 0) 3px;
    border-top: none;
    border-left: none;
    list-style-type: none;
    border-right: none;
    background-color: #FFEB3C;
}

.list2:hover{
    -webkit-box-shadow: inset -2px -2px 30px 2px rgba(0, 255, 170, 0.51);
    -moz-box-shadow:    inset -2px -2px 30px 2px rgba(0, 255, 170, 0.51);
    box-shadow:         inset -2px -2px 30px 2px rgba(0, 255, 170, 0.51);
}

.telnum{
    width: 100%;
    height: 90px;
    padding-top: 17px;
}

h2{
    text-align: center;
    color: rgb(6, 209, 158);
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif   ;
}
    
.prod1{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

 
.sidebar{
    background-color: #FFEB3C ;
    text-align: center;
    margin-left: 85%;
    width: 15%;
    height: 700px;
    border: solid rgb(6, 209, 158) 4px;  
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem ;
    -webkit-box-shadow: -5px 1px 17px -3px #98FF00; 
    box-shadow: -5px 1px 17px -3px #98FF00;
}

.log{
    width: 100%;
    height: 55px;
    border: dashed rgb(255, 196, 0) 3px;
    border-top-left-radius: 2rem;
    padding-top: 15px;
    border-top: none;
    border-left: none;
    list-style-type: none;
    border-left: none; 
    border-right: none;
    background-color: #FFEB3C;
    cursor: pointer;
}

.log1{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.log:hover{
    -webkit-box-shadow: inset -2px -2px 30px 2px rgba(0, 255, 170, 0.51);
    -moz-box-shadow:    inset -2px -2px 30px 2px rgba(0, 255, 170, 0.51);
    box-shadow:         inset -2px -2px 30px 2px rgba(0, 255, 170, 0.51);
}

.reg{
    width: 100%;
    height: 55px;
    border: dashed rgb(255, 196, 0) 3px;
    padding-top: 15px;
    border-top: none;
    border-left: none;
    list-style-type: none;
    border-left: none; 
    border-right: none;
    background-color: #FFEB3C;
    cursor: pointer;
}

.reg1{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.reg:hover{
    -webkit-box-shadow: inset -2px -2px 30px 2px rgba(0, 255, 170, 0.51);
    -moz-box-shadow:    inset -2px -2px 30px 2px rgba(0, 255, 170, 0.51);
    box-shadow:         inset -2px -2px 30px 2px rgba(0, 255, 170, 0.51);
}

body{
    background-color: rgb(182, 232, 255);
}

.img1{
    width: 100%;
    height: 90px;
}

.img{
    width: 9%;
    height: 90px;
    margin-left: 15%;
    margin-top: 2.5px;
    float: left;
}

.ifr1{
    width: 100%;
    height: 195px;
    background-color: #FFEB3C ;
}

.ifr2{
    width: 100%;
    height: 195px;
    background-color: #FFEB3C;
}

.iframe1{
    width: 95%;
    height: 190px;
    margin-top: 2.5px;
    margin-left: 1.5%;
    border: solid rgb(6, 209, 158) 2px;
    background-color: rgb(255, 255, 153) ;
    border-radius: 0.5rem;
}

.iframe2{
    width: 95%;
    height: 190px;
    margin-top: 2.5px;
    margin-left: 1.5%;
    border: solid rgb(6, 209, 158) 2px;
    background-color: rgb(255, 255, 153) ;
    border-radius: 0.5rem;
}

.about{
    width: 100%;
    height: 55px;
    border: dashed rgb(255, 196, 0) 3px;
    padding-top: 15px;
    list-style-type: none;
    border-left: none; 
    border-right: none;
    background-color: #FFEB3C;
    cursor:pointer;
}

.about1{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about:hover{
    -webkit-box-shadow: inset -2px -2px 30px 2px rgba(0, 255, 170, 0.51);
    -moz-box-shadow:    inset -2px -2px 30px 2px rgba(0, 255, 170, 0.51);
    box-shadow:         inset -2px -2px 30px 2px rgba(0, 255, 170, 0.51);
}

.ourstores{
    border: dashed rgb(255, 196, 0) 3px;
    border-right: none;
    border-left: none;
    border-top: none;
    width: 100%;
    height: 55px;
    padding-top: 15px;
    list-style-type: none;
    background-color: #FFEB3C;
    cursor: pointer;

}

.ourstores1{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ourstores:hover{
    -webkit-box-shadow: inset -2px -2px 30px 2px rgba(0, 255, 170, 0.51);
    -moz-box-shadow:    inset -2px -2px 30px 2px rgba(0, 255, 170, 0.51);
    box-shadow:         inset -2px -2px 30px 2px rgba(0, 255, 170, 0.51);
}

.productlist{
    float: left;
    width: 70%;
    height: 700px;
}

.productline1{
    float: left;
    width: 100%;
    height: 320px;
}
.product1{
    float: left;
    width: 20%;
    height: 260px;
    border: rgb(6, 209, 158) 3px solid;
    border-radius: 0.5rem;
    background-color: #FFEB3C;
    margin-left: 4%;
    margin-top: 20px;
    cursor: default;
    font-family: 'Fuzzy Bubbles', cursive;
}

.product1:hover{
    transition: 0.7s ;
    height: 320px;
}


.im1{
    width: 90%;
    height: 240px;
    margin-left: 5%;
    margin-top: 10px;
}

.product1:hover>.im1{
    border: rgb(6, 209, 158) 2px solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

.pr1{
    background-size: cover;
    width: 80%;
    height: 240px;
    margin-left: 10%;
}
.prodtext1{
    background-size: cover;
    width: 80%;
    height: 40px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    opacity: 0;
    margin-top: 5px;
    margin-left: 10%;
}

.product1:hover>.prodtext1{
    transition: 2s;
    opacity: 1;
}

.product2{
    float: left;
    width: 20%;
    height: 260px;
    border: solid rgb(6, 209, 158) 3px;
    border-radius: 0.5rem;
    margin-top: 20px;
    margin-left: 4%;
    background-color: #FFEB3C;
    cursor: default;
}

.product2:hover{
    transition: 0.7s ;
    height: 320px;
}

.im2{
    width: 90%;
    height: 240px;
    margin-left: 5%;
    margin-top: 10px;
}

.product2:hover>.im2{
    border: rgb(6, 209, 158) 2px solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

.pr2{
    background-size: cover;
    width: 80%;
    height: 240px;
    margin-left: 10%;
}
.prodtext2{
    background-size: cover;
    width: 80%;
    height: 40px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    opacity: 0;
    margin-top: 5px;
    margin-left: 10%;
}

.product2:hover>.prodtext2{
    transition: 2s;
    opacity: 1;
}

.product3{
    float: left;
    width: 20%;
    height: 260px;
    border: solid rgb(6, 209, 158) 3px;
    border-radius: 0.5rem;
    margin-top: 20px;
    margin-left: 4%;
    background-color: #FFEB3C;
    cursor: default;
}

.product3:hover{
    transition: 0.7s ;
    height: 320px;
}

.im3{
    width: 90%;
    height: 240px;
    margin-left: 5%;
    margin-top: 10px;
}

.product3:hover>.im3{
    border: rgb(6, 209, 158) 2px solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

.pr3{
    background-size: cover;
    width: 80%;
    height: 240px;
    margin-left: 10%;
}
.prodtext3{
    background-size: cover;
    width: 80%;
    height: 40px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    opacity: 0;
    margin-top: 5px;
    margin-left: 10%;
}

.product3:hover>.prodtext3{
    transition: 2s;
    opacity: 1;
}

.product4{
    float: left;
    width: 20%;
    height: 260px;
    border: solid rgb(6, 209, 158) 3px;
    border-radius: 0.5rem;
    margin-top: 20px;
    margin-left: 4%;
    background-color: #FFEB3C;
    cursor: default;
}

.product4:hover{
    transition: 0.7s ;
    height: 320px;
}

.im4{
    width: 90%;
    height: 240px;
    margin-left: 5%;
    margin-top: 10px;
}

.product4:hover>.im4{
    border: rgb(6, 209, 158) 2px solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

.pr4{
    background-size: cover;
    width: 80%;
    height: 240px;
    margin-left: 10%;
}
.prodtext4{
    background-size: cover;
    width: 80%;
    height: 40px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    opacity: 0;
    margin-top: 5px;
    margin-left: 10%;
}

.product4:hover>.prodtext4{
    transition: 2s;
    opacity: 1;
}

.productline2{
    float: left;
    width: 100%;
    height: 320px;
    margin-top: 20px;
}

.product5{
    float: left;
    width: 20%;
    height: 260px;
    border: solid rgb(6, 209, 158) 3px;
    border-radius: 0.5rem;
    margin-top: 20px;
    margin-left: 4%;
    background-color: #FFEB3C;
    cursor: default;
}

.product5:hover{
    transition: 0.7s ;
    height: 320px;
}

.im5{
    width: 90%;
    height: 240px;
    margin-left: 5%;
    margin-top: 10px;
}

.product5:hover>.im5{
    border: rgb(6, 209, 158) 2px solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

.pr5{
    background-size: cover;
    width: 80%;
    height: 240px;
    margin-left: 10%;
}
.prodtext5{
    background-size: cover;
    width: 80%;
    height: 40px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    opacity: 0;
    margin-top: 5px;
    margin-left: 10%;
}

.product5:hover>.prodtext5{
    transition: 2s;
    opacity: 1;
}

.product6{
    float: left;
    width: 20%;
    height: 260px;
    border: solid rgb(6, 209, 158) 3px;
    border-radius: 0.5rem;
    margin-top: 20px;
    margin-left: 4%;
    background-color: #FFEB3C;
    cursor: default;
}

.product6:hover{
    transition: 0.7s ;
    height: 320px;
}

.im6{
    width: 90%;
    height: 240px;
    margin-left: 5%;
    margin-top: 10px;
}

.product6:hover>.im6{
    border: rgb(6, 209, 158) 2px solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

.pr6{
    background-size: cover;
    width: 120%;
    height: 240px;
    margin-left: -10%;
}

.prodtext6{
    background-size: cover;
    width: 80%;
    height: 40px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    opacity: 0;
    margin-top: 5px;
    margin-left: 10%;
}

.product6:hover>.prodtext6{
    transition: 2s;
    opacity: 1;
}

.product7{
    float: left;
    width: 20%;
    height: 260px;
    border: solid rgb(6, 209, 158) 3px;
    border-radius: 0.5rem;
    margin-top: 20px;
    margin-left: 4%;
    background-color: #FFEB3C;
    cursor: default;
}

.product7:hover{
    transition: 0.7s ;
    height: 320px;
}

.im7{
    width: 90%;
    height: 240px;
    margin-left: 5%;
    margin-top: 10px;
}

.product7:hover>.im7{
    border: rgb(6, 209, 158) 2px solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

.pr7{
    background-size: cover;
    width: 120%;
    height: 240px;
    margin-left: -10%;
}

.prodtext7{
    background-size: cover;
    width: 80%;
    height: 40px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    opacity: 0;
    margin-top: 5px;
    margin-left: 10%;
}

.product7:hover>.prodtext7{
    transition: 2s;
    opacity: 1;
}